.form__button-save {
  width: 100%;
  min-height: 46px;
  margin-top: 50px;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  transition: all 0.2s linear;
  font-style: normal;
  font-weight: 400;
}

@media screen and (min-width: 1280px) {
  .form__button-save {
    min-height: 50px;
  }
}

.form__button-save:hover {
  opacity: 0.8;
  cursor: pointer;
}