.form__button-save {
  width: 100%;
  min-height: 46px;
  margin-top: 50px;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  transition: all 0.2s linear;
  font-style: normal;
  font-weight: 400;
}

.form__button-save:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .form__button-save {
    min-height: 50px;
    max-width: 238px;
    margin-top: 30px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
