.profile__button-edit {
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  margin: 0;
  margin-left: 10px;
  background: url(../../../images/button-edit.svg);
  transition: all .2s linear;
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
}

.profile__button-edit:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .profile__button-edit {
    margin-left: 0;
    width: 18px;
    height: 18px;
    align-items: center;
    margin-top: -25px;
  }
}