.profile__about {
  width: 80%;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

@media screen and (max-width: 1023px) {
  .profile__about {
    max-width: 75%;
    text-align: center;
  }
}