.header {
  max-width: 880px;
  width: 880px;
  margin: 0 auto;
  padding-bottom: 37px;
  padding-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 768px) {
  .header {
    width: 280px;
  }
}