.element__button-like_active {
  width: 22px;
  padding: 0;
  height: 22px;
  outline: none;
  border: none;
  background: url(../../../images/button-like-active.svg);
  background-repeat: no-repeat;
  transition: all .2s ease;
}