.profile__name {
  max-width: 80%;
  margin: 0;
  margin-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
}

@media screen and (max-width: 768px) {
  .profile__name {
    max-width: 75%;
    margin-left: 30px;
    font-size: 27px;
    line-height: 33px;
  }
}