.popup__button-close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  border: none;
  background: url(../../../images/button-close.svg);
  transition: all 0.2s linear;
}

.popup__button-close:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .popup__button-close {
    right: 0px;
    top: -36px;
  }
}
