.popup__btn-save {
  width: 100%;
  min-height: calc((100vw - 320px) / (960) * (4) + 46px);
  margin-top: 50px;
  border: none;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  font-size: calc((100vw - 320px) / (960) * (4) + 14px);
  line-height: calc((100vw - 320px) / (960) * (5) + 17px);
  transition: all 0.2s linear;
}

@media screen and (min-width: 1280px) {
  .popup__btn-save {
    min-height: 50px;
    font-size: 18px;
    line-height: 22px;
  }
}

.popup__btn-save:hover {
  opacity: 0.8;
  cursor: pointer;
}