.element__button-like {
  width: 22px;
  padding: 0;
  height: 22px;
  outline: none;
  border: none;
  background: url(../../../images/button-like-disabled.svg);
  background-repeat: no-repeat;
  color: black;
  transition: all .2s ease;
}